@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/navbar";

.navbar {
    border: none;
    font-weight: 600;
    //height:47px;

    .navbar-toggle {
        color: #fff;
        border: none;
        @include navbar-vertical-align(36px);
    }
}

.navbar-inverse.navbar-clear {
    background: transparent;
}
