<header class="app-header clearfix">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid container--full">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <h1 class="margin-top-0"><a class="navbar-brand" href="dashboard.html">
                    <span class="bcbsm-header__top__logo bcbsm-logo-svg margin-right-2"></span> Application Monitor <small>DEMO</small></a></h1> -->
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="tooltip" data-placement="left" title="Application alerts"><i class="icon icon-warning icon-inverse"></i><span class="ex-header--icon-badge">2</span></a></li>
                    <li class="dropdown">
                        <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon icon-user margin-right-1 icon-inverse"></i>Beth Woodward <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="user-profile.html">User Profile</a></li>
                            <li><a href="#modal-appSettings" data-toggle="modal">Settings</a></li>
                            <li class="divider" role="separator"></li>
                            <li><a href="signin.html">Sign out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="ex-sub-header clearfix">
        <div class="container-fluid container--full">
            <div class="ex-sub-header--gadgets">
                <a class="btn ex-btn__inverse  ex-btn__inverse__active" href="dashboard.html" title="Dashboard" data-toggle="tooltip" data-placement="bottom" role="button">
                    <i class="icon icon-home icon-inverse"></i>
                </a>
                <button class="btn ex-btn__inverse ex-btn__inverse__active" type="button" data-toggle="tooltip" data-placement="bottom" title="Reports">
                    <i class="icon icon-bar-chart icon-inverse"></i>
                </button>
                <!-- <button class="btn ex-btn__inverse ex-btn__inverse__active" data-toggle="tooltip" data-placement="bottom" title="Settings">
                    <i class="icon icon-gears icon-inverse"></i>
                </button> -->
                <a class="btn ex-btn__inverse ex-btn__inverse__active" href="help.html" title="Help" data-toggle="tooltip" data-placement="bottom" role="button">
                    <i class="icon icon-question icon-inverse"></i>
                </a>
                <button class="btn-fixed btn ex-btn__inverse ex-btn__inverse__active" type="button" title="Fixed container" data-toggle="tooltip" data-placement="bottom">
                    <i class="icon icon-file-image-o icon-inverse"></i>
                </button>
                <button class="btn-fluid btn ex-btn__inverse ex-btn__inverse__active" type="button" title="Fluid container" data-toggle="tooltip" data-placement="bottom">
                    <i class="icon icon-image icon-inverse"></i>
                </button>
                <!--   <button class="btn ex-btn__inverse">
                    <i class="icon icon-file-text icon-inverse"></i>
                </button> -->
                <!-- <a class="btn ex-btn__inverse ex-btn__inverse__active" href="favorites.html" data-toggle="tooltip" data-placement="bottom" title="Favorites">
                    <i class="icon icon-star icon-inverse"></i>
                </a> -->
                <button class="btn-collections btn ex-btn__inverse ex-btn__inverse__active hide" data-toggle="tooltip" data-placement="bottom" title="Show/Hide Collections">
                    <i class="icon icon-star icon-inverse"></i>
                </button>
                <a class="btn-search--mobile btn ex-btn__inverse ex-btn__inverse__active" href="search-results.html"><i class="icon icon-search icon-inverse"></i></a>
            </div>
            <form class="search" role="form">
                <label for="txt-search" class="sr-only">Find application</label>
                <input id="txt-search" type="text" class="form-control ex-form-control__inverse" placeholder="Application Number">
                <a class="btn-search btn btn-default btn-sm" href="search-results.html"><i class="icon icon-search"></i><span class="sr-only">Search</span></a>
            </form>
        </div>
    </div>
</header>
