<aside class="aside collections padding-2 hide">
    <a id="supportInfo" tabindex="-1"></a>
    <div class="panel--collections panel panel-default">
        <div class="panel-heading">
            <div class="panel__title">
                <button class="close" type="button" aria-label="Close"><span>&times;</span></button>
                <span class="icon icon-star"></span> <strong>Collections</strong>
            </div>
        </div>
        <div class="panel__actionBar">
            <span class="icon icon-download icon-inverse" role="button" data-toggle="tooltip" data-placement="top" aria-label="Download all" title="Download all"></span>
            <span class="icon icon-print icon-inverse" role="button" data-toggle="tooltip" data-placement="top" aria-label="Print" title="Print"></span>
        </div>
        <div class="panel-body">
            <table class="table--collections table table-hover table-condensed">
                <thead>
                    <tr>
                        <th><a href="#collections1" data-toggle="collapsible" aria-label="Expand or Collapse" aria-expanded="false"><i aria-hidden="true" class="icon icon-plus-square-o"></i></a></th>
                        <th><a class="link-appNumSearch" href="#void">US <span class="appNum">11315345</span></a></th>
                        <th><a data-placement="top" data-toggle="tooltip" title="" aria-label="Remove from Collections" href="" data-original-title="Remove from Collections"><i aria-hidden="true" class="icon icon-close icon-muted"></i></a></th>
                    </tr>
                </thead>
                <tbody id="collections1">
                    <tr class="hide" aria-hidden="true">
                        <td><a href="#void" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Transmittal of New Application"></i></a></td>
                        <td><a href="" aria-label="Open Transmittal of New Application">Transmittal of New Application</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Specification"></i></a></td>
                        <td><a href="" aria-label="Open Specification">Specification</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Nonpublication request from applicant"></i></a></td>
                        <td><a href="" aria-label="Open Nonpublication request from applicant">Nonpublication request from applicant</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" target="_blank" class="pull-right" aria-label="Download Application Data Sheet"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Application Data Sheet"></i></a></td>
                        <td><a href="" target="_blank" aria-label="Open Application Data Sheet">Application Data Sheet</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table--collections table table-hover table-condensed">
                <thead>
                    <tr>
                        <th><a href="#collections2" data-toggle="collapsible" aria-label="Expand or Collapse" aria-expanded="false"><i aria-hidden="true" class="icon icon-plus-square-o"></i></a></th>
                        <th><a class="link-appNumSearch" href="#void">US <span class="appNum">11315342</span></a></th>
                        <th><a data-placement="top" data-toggle="tooltip" title="" aria-label="Remove from Collections" href="" data-original-title="Remove from Collections"><i aria-hidden="true" class="icon icon-close icon-muted"></i></a></th>
                    </tr>
                </thead>
                <tbody id="collections2">
                    <tr class="hide" aria-hidden="true">
                        <td><a href="#void" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Transmittal of New Application"></i></a></td>
                        <td><a href="" aria-label="Open Transmittal of New Application">Transmittal of New Application</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Specification"></i></a></td>
                        <td><a href="" aria-label="Open Specification">Specification</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Nonpublication request from applicant"></i></a></td>
                        <td><a href="" aria-label="Open Nonpublication request from applicant">Nonpublication request from applicant</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" target="_blank" class="pull-right" aria-label="Download Application Data Sheet"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Application Data Sheet"></i></a></td>
                        <td><a href="" target="_blank" aria-label="Open Application Data Sheet">Application Data Sheet</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <table class="table--collections table table-hover table-condensed">
                <thead>
                    <tr>
                        <th><a href="#collections3" data-toggle="collapsible" aria-label="Expand or Collapse" aria-expanded="false"><i aria-hidden="true" class="icon icon-plus-square-o"></i></a></th>
                        <th><a class="link-appNumSearch" href="#void">US <span class="appNum">11294613</span></a></th>
                        <th><a data-placement="top" data-toggle="tooltip" title="" aria-label="Remove from Collections" href="" data-original-title="Remove from Collections"><i aria-hidden="true" class="icon icon-close icon-muted"></i></a></th>
                    </tr>
                </thead>
                <tbody id="collections3">
                    <tr class="hide" aria-hidden="true">
                        <td><a href="#void" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Transmittal of New Application"></i></a></td>
                        <td><a href="" aria-label="Open Transmittal of New Application">Transmittal of New Application</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Specification"></i></a></td>
                        <td><a href="" aria-label="Open Specification">Specification</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" class="pull-right" aria-label="Download"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Nonpublication request from applicant"></i></a></td>
                        <td><a href="" aria-label="Open Nonpublication request from applicant">Nonpublication request from applicant</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                    <tr class="hide" aria-hidden="true">
                        <td><a href="" target="_blank" class="pull-right" aria-label="Download Application Data Sheet"><i class="icon icon-download" data-toggle="tooltip" data-placement="left" data-original-title="Download Application Data Sheet"></i></a></td>
                        <td><a href="" target="_blank" aria-label="Open Application Data Sheet">Application Data Sheet</a></td>
                        <td><a data-original-title="Remove from Collections" href="" aria-label="Remove from Collections" title="" data-toggle="tooltip" data-placement="top"><i class="icon icon-close icon-muted" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</aside>
