<form class="filters-accordion js-filterSwitch" role="form">
    <div class="h5" tabindex="0">Assignment</div>
    <div class="filter-list">
            <a class="filter-group-title" href="#void" data-toggle="collapse" data-target="#2filterGroup8">Filing year <i class="icon icon-angle-right pull-right"></i></a>
        <div id="2filterGroup8" class="collapse">
            <div class="filter-group-content">
                <div class="form-group">
                    <ul class="list-unstyled">
                        <li><a href="">2014</a></li>
                        <li><a href="">2013</a></li>
                        <li><a href="">2012</a></li>
                        <li><a href="">2011</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <a class="filter-group-title" href="#void" data-toggle="collapse" data-target="#2filterGroup1"><i class="icon icon-angle-right pull-right"></i> Filing date range</a>
        <div id="2filterGroup1" class="collapse">
            <div class="filter-group-content">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <span class="input-icon icon icon-calendar-o"></span>
                        <input type="text" placeholder="Start" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" title="Start date" aria-label="Start date">
                    </div>
                    <div class="form-group col-sm-6">
                        <span class="input-icon icon icon-calendar-o"></span>
                        <input type="text" placeholder="End" class="datepicker form-control" data-inputmask="'mask': 'm/d/y', 'placeholder': 'mm/dd/yyyy'" title="End date" aria-label="End date">
                    </div>
                </div>
            </div>
        </div>
            <a class="filter-group-title" href="#void" data-toggle="collapse" data-target="#2filterGroup2"><i class="icon icon-angle-right pull-right"></i> <span class="badge pull-right">1</span> Application type</a>
        <div id="2filterGroup2" class="collapse">
            <div class="filter-group-content">
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input checked type="checkbox">Assignment <span class="text-muted">(13)</span></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Change of name <span class="text-muted">(45)</span></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Trademark <span class="text-muted">(18)</span></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Certification <span class="text-muted">(32)</span></label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Service <span class="text-muted">(43)</span></label>
                    </div>
                    <a href="#void">Show 12 more...</a>
                </div>
            </div>
        </div>
            <a class="filter-group-title" href="#void" data-toggle="collapse" data-target="#2filterGroup5"><i class="icon icon-angle-right pull-right"></i> Applicant</a>
        <div id="2filterGroup5" class="collapse">
            <div class="filter-group-content">
                <div class="form-group">
                    <div class="form-group">
                        <ul class="list-unstyled">
                            <li><a href="">JOHN SMITH ET AL</a></li>
                            <li><a href="">JANE LLC</a></li>
                            <li><a href="">JOHNSON CO</a></li>
                            <li><a href="">INITECH</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h5" tabindex="0">Assignee (Owner)</div>
    <div class="filter-list">
            <a class="filter-group-title" href="#void" data-toggle="collapse" data-target="#3filterGroup8">Assignee <i class="icon icon-angle-right pull-right"></i></a>
        <div id="3filterGroup8" class="collapse">
            <div class="filter-group-content">
                <div class="form-group">
                    <ul class="list-unstyled">
                        <li><a href="">John Smith Et al.</a></li>
                        <li><a href="">Jane LLC</a></li>
                        <li><a href="">Johnson Co.</a></li>
                        <li><a href="">Initech</a></li>
                    </ul>
                </div>
            </div>
        </div>
            <a class="filter-group-title" href="#void" data-toggle="collapse" data-target="#3filterGroup2"><i class="icon icon-angle-right pull-right"></i> Assignee country</a>
        <div id="3filterGroup2" class="collapse">
            <div class="filter-group-content">
                <div class="form-group">
                    <ul class="list-unstyled">
                        <li><a href="">United States</a></li>
                        <li><a href="">France</a></li>
                        <li><a href="">Germany</a></li>
                        <li><a href="">Hungary</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
