<div id="modal-appSettings" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="hd-appSettings">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <span class="h4 modal-title" id="hd-appSettings">Application settings</span>
            </div>
            <div class="modal-body">
                <div class="nav-settings tabs-responsive btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notifications <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="active"><a href="#" data-toggle="tab" role="tab">Notifications</a></li>
                        <li><a href="#" data-toggle="tab" role="tab">Tracked Systems</a></li>
                        <li><a href="#" data-toggle="tab" role="tab">Reports</a></li>
                        <li class="disabled" data-toggle="tab" role="tab"><a href="#">Favorites</a></li>
                    </ul>
                </div>
                <form class="form-appSettings form-horizontal" role="form" style="margin-left: 20px;">
                    <fieldset>
                        <legend>Select notification types you would like to receive:</legend>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked value="option1" id="chk1" name="optionsCheckboxes">System alerts</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" checked value="option1" id="chk2" name="optionsCheckboxes">New system added or removed</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="option1" id="chk3" name="optionsCheckboxes">Report completion</label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="option1" id="chk4" name="optionsCheckboxes">Data thresholds</label>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="pull-left btn btn-default" type="button" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" type="button" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>
