<nav class="pane-left keyline-bottom">
    <a tabindex="-1" id="contentNav"></a>
    <div class="close-sidebar keyline-bottom clearfix">
        <button type="button" class="btn-closeSidebar pull-right btn btn-sm btn-default btn-hover"><i class="icon icon-angle-double-left"></i> Close</button>
    </div>
    <ul role="tab-list" class="nav nav-stacked">
        <li tabindex="0" class="category" role="presentation"><i class="icon icon-dashboard"></i> Dashboards</li>
        <li role="presentation"><a href="#" role="tab">Systems summary</a></li>
        <li role="presentation"><a href="#" role="tab">System A</a></li>
        <li role="presentation"><a href="#" role="tab">System B</a></li>
        <li role="presentation"><a href="#" role="tab">System C</a></li>
        <li tabindex="0" class="category" role="presentation"><i class="icon icon-bar-chart"></i> Reports</li>
        <li role="presentation"><a href="#" role="tab">Fees and transactions</a></li>
        <li role="presentation"><a href="#" role="tab">Trends</a></li>
        <li role="presentation"><a href="#" role="tab">Disposition</a></li>
        <li role="presentation"><a href="#" role="tab">Custom</a></li>
    </ul>
</nav>
