<div class="table--border js-tableSwitch hide">
<div class="table--actions row">
    <div class="col-xs-12">
        <div class="btn-group dropdown">
            <button id="btn-displayOpts" type="button" class="btn-displayOpts btn btn-default dropdown-toggle" data-toggle="dropdown">10 per page <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-displayOpts">
                <li role="presentation" class="dropdown-header">Show up to</li>
                <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">10 items</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25 items</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50 items</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100 items</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table-bordered table table-sortable table-hover table-inverse">
        <thead>
            <tr>
                <th class="sortable"><a href="#void">Application
                                    <abbr title="Number">#</abbr><span class="icon icon-sort icon-inverse"></span></a></th>
                <th class="sortable"><a href="#void">Docket
                                    <abbr title="Number">#</abbr><span class="icon icon-sort icon-inverse"></span></a></th>
                <th>Title</th>
                <th class="sortable"><a href="#void">Filing Date<span class="icon icon-caret-down icon-inverse"></span></a></th>
                <th class="sortable"><a href="#void">Status<span class="icon icon-sort icon-inverse"></span></a></th>
                <th>IFW</th>
                <th class="table-config-column">
                    <button type="button" class="btn-tblCols" title="Show and hide columns"><i class="icon icon-ellipsis-h icon-inverse"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="master-detail-app.html">12/379,876</a></td>
                <td>US1234-767</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                <td>12/13/2014</td>
                <td>Issued
                    <p class="text-muted">01/14/15</p>
                </td>
                <td colspan="2"><a href="#void">View</a></td>
            </tr>
            <tr>
                <td><a href="master-detail-app.html">12/480,876</a></td>
                <td>US1234-767</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                <td>11/13/2014</td>
                <td>Issued
                    <p class="text-muted">12/14/15</p>
                </td>
                <td colspan="2"><a href="#void">View</a></td>
            </tr>
            <tr>
                <td><a href="master-detail-app.html">12/591,876</a></td>
                <td>US1234-767</td>
                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                <td>10/13/2014</td>
                <td>Issued
                    <p class="text-muted">11/14/15</p>
                </td>
                <td colspan="2"><a href="#void">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
</div>