<div class="table--multiline js-tableSwitch hide">
    <div class="table--actions row">
        <div class="col-xs-6">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" name="viewOpts" id="viewOpt1" autocomplete="off"> <i class="icon icon-list"></i> <span class="hidden-small">List</span>
                </label>
                <label class="btn btn-default active">
                    <input type="radio" name="viewOpts" id="viewOpt2" autocomplete="off" checked> <i class="icon icon-list-alt"></i> <span class="hidden-small">Detail</span>
                </label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="btn-group dropdown pull-right">
                <button id="btn-displayOpts" type="button" class="btn-displayOpts btn btn-default dropdown-toggle" data-toggle="dropdown">10 per page <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="btn-displayOpts">
                    <li role="presentation" class="dropdown-header">Show up to</li>
                    <li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">10 items</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">25 items</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">50 items</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">100 items</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-sortable table-striped table-inverse">
            <thead>
                <tr>
                    <th class="sortable"><a href="#void">Application
                                            <abbr title="Number">#</abbr><span class="icon icon-sort icon-inverse"></span></a></th>
                    <th class="sortable"><a href="#void">Docket
                                            <abbr title="Number">#</abbr><span class="icon icon-sort icon-inverse"></span></a></th>
                    <th>Title</th>
                    <th class="sortable"><a href="#void">Filing Date<span class="icon icon-caret-down icon-inverse"></span></a></th>
                    <th class="sortable"><a href="#void">Status<span class="icon icon-sort icon-inverse"></span></a></th>
                    <th>IFW</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="master-detail-app.html">12/379,876</a></td>
                    <td>US1234-767</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                    <td>12/13/2014</td>
                    <td>Issued
                        <p class="text-muted">01/14/15</p>
                    </td>
                    <td colspan="2"><a href="#void">View</a></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <dl class="dl-horizontal">
                            <dt>Last submission</dt>
                            <dd>11/23/2009</dd>
                            <dt>Filed by</dt>
                            <dd><a href="#void">John Olaskey</a></dd>
                            <dt>Examiner</dt>
                            <dd>Roman Amirpur</dd>
                            <dt>Attorney</dt>
                            <dd>Disney Dale</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Patent
                                <abbr title="Number">#</abbr>
                            </dt>
                            <dd>IP, Sikyin / 69776 / 1742</dd>
                            <dt>Publication #</dt>
                            <dd>654654646548</dd>
                            <dt>Earliest
                                <abbr title="Publication">Pub.</abbr> Date</dt>
                            <dd>11/23/2009</dd>
                        </dl>
                        <div class="dl-horizontal">
                            <dl>
                                <dt>Inventors</dt>
                                <dd>Leslie S. Johnson</dd>
                                <dd>Logan Brambley</dd>
                                <dd>James Harden</dd>
                            </dl>
                            <a href="#void">View all...</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="master-detail-app.html">12/480,876</a></td>
                    <td>US1234-767</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                    <td>11/13/2014</td>
                    <td>Issued
                        <p class="text-muted">12/14/15</p>
                    </td>
                    <td colspan="2"><a href="#void">View</a></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <dl class="dl-horizontal">
                            <dt>Last submission</dt>
                            <dd>11/23/2009</dd>
                            <dt>Filed by</dt>
                            <dd><a href="#void">John Olaskey</a></dd>
                            <dt>Examiner</dt>
                            <dd>Roman Amirpur</dd>
                            <dt>Attorney</dt>
                            <dd>Disney Dale</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Patent
                                <abbr title="Number">#</abbr>
                            </dt>
                            <dd>IP, Sikyin / 69776 / 1742</dd>
                            <dt>Publication #</dt>
                            <dd>654654646548</dd>
                            <dt>Earliest
                                <abbr title="Publication">Pub.</abbr> Date</dt>
                            <dd>11/23/2009</dd>
                        </dl>
                        <div class="dl-horizontal">
                            <dl>
                                <dt>Inventors</dt>
                                <dd>Leslie S. Johnson</dd>
                                <dd>Logan Brambley</dd>
                                <dd>James Harden</dd>
                            </dl>
                            <a href="#void">View all...</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><a href="master-detail-app.html">12/591,876</a></td>
                    <td>US1234-767</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </td>
                    <td>10/13/2014</td>
                    <td>Issued
                        <p class="text-muted">11/14/15</p>
                    </td>
                    <td colspan="2"><a href="#void">View</a></td>
                </tr>
                <tr>
                    <td colspan="6">
                        <dl class="dl-horizontal">
                            <dt>Last submission</dt>
                            <dd>11/23/2009</dd>
                            <dt>Filed by</dt>
                            <dd><a href="#void">John Olaskey</a></dd>
                            <dt>Examiner</dt>
                            <dd>Roman Amirpur</dd>
                            <dt>Attorney</dt>
                            <dd>Disney Dale</dd>
                        </dl>
                        <dl class="dl-horizontal">
                            <dt>Patent
                                <abbr title="Number">#</abbr>
                            </dt>
                            <dd>IP, Sikyin / 69776 / 1742</dd>
                            <dt>Publication #</dt>
                            <dd>654654646548</dd>
                            <dt>Earliest
                                <abbr title="Publication">Pub.</abbr> Date</dt>
                            <dd>11/23/2009</dd>
                        </dl>
                        <div class="dl-horizontal">
                            <dl>
                                <dt>Inventors</dt>
                                <dd>Leslie S. Johnson</dd>
                                <dd>Logan Brambley</dd>
                                <dd>James Harden</dd>
                            </dl>
                            <a href="#void">View all...</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
